<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://elcomercio.pe/tv/tizen" version="1.0.0" viewmodes="maximized">
    <tizen:application id="OxdC6Iumuf.__app_id__" package="OxdC6Iumuf" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon/icon.png"/>
    <name>__app_name__</name>
    <tizen:profile name="tv"/>
</widget>
